.btn-container {
  justify-self: flex-end;
  margin-top: auto;
  padding-top: 50px;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  background: linear-gradient(to right, #cc60ba, #e56ed2);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px;
  margin-top: 0.5rem;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  font: inherit;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

.btn:hover {
  background: linear-gradient(to right, #f082dd, #fa86e7);
}
